{% extends ':admin:base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include ':admin/products:_form.html.twig' with {'action': 'Update'} %}
        </div>
    </div>
{% endblock %}
