{% extends ':admin:base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <input type="submit" value="Create" class="btn btn-default pull-right"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
