services:
  security.form_authenticator:
    class: AppBundle\Security\FormAuthenticator
    arguments:
      - '@doctrine.orm.entity_manager'
      - '@router'
      - '@session'

  app.twig_extension:
    class: AppBundle\Twig\AppExtension
    tags:
      - { name: twig.extension }

  service.entity_manager:
    class: AppBundle\Service\EntityManager
    arguments: ['@doctrine.orm.entity_manager']
