<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Admin</li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Products</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li>
                <a href="">Sign out</a>
            </li>
        </ul>
    </div>
</div>
