<div class="modal fade"
     id="resetPasswordModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Password Recovery</h4>
            </div>
            {#<form action="{{ path('requestPasswordReset') }}" id="requestPasswordResetForm">#}
            <form action="" id="requestPasswordResetForm">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text"
                               name="email"
                               id="email"
                               class="form-control"
                               placeholder="Please enter your email"
                               value="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="request-password-reset-submit">Recover</button>
                </div>
            </form>
        </div>
    </div>
</div>
